$primary-color: #fff;
$text-color: #445065;
$text-secondary-color: #a6a6a6;
$primary-link-color: #0089e5;
$bg-color: #00287a;
$google-color: #4285f4;
$github-color: #333333;
$border-color: #dcdee3;

$bg: #313942;
$ghost: #528cce;
$heading: #e7ebf2;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$tablet: 768px;
$mobile: 600px;
